<div class="mb-6">

	<form
		id="add_comment_form"
		hx-post="/projects/{{ projectHash }}/add_comment"
		hx-target="this"
		hx-trigger="submit, addcomment"
	>

		<div class="field mb-3">

			<input
				type="hidden"
				name="activity"
				value="{% if activityHash %}{{ activityHash }}{% endif %}"
				_="on new_activity from <body/> put event.detail.activity into my value"
			>

			<div class="control">
				<textarea
					class="textarea"
					name="comment"
					placeholder="Add your comment"
					autofocus="true"
					_="on keyup[ctrlKey and code=='Enter'] trigger addcomment"
				></textarea>
			</div>
		</div>

		<button class="button is-primary is-fullwidth" type="submit">Submit</button>

		{% include 'partials/form_security.njk' %}

	</form>

</div>