<div class="tabs is-boxed mb-6">
	<ul>
		<li class="{% if activeTab == 'mine' %}is-active{% endif %}">
			<a href="/projects/mine">
				<span>Mine</span>
			</a>
		</li>
		<li class="{% if activeTab == 'public' %}is-active{% endif %}">
			<a href="/projects/all">
				<span>Public</span>
			</a>
		</li>
	</ul>
</div>