{% extends 'layouts/default.njk' %}

{% import './macros/comment.njk' as commentMacro %}
{% import './macros/activity.njk' as activityMacro %}


{% block content %}

<div class="container {{ ui.containerClass }}">

	<div class="columns">
		<div class="column is-one-third">

			<h1 class="title mb-6">{{ title }}</h1>

			<form action="/projects/{{ project.project_id | hashid('project') }}/edit" method="post">

				<div class="field">
					<label class="label">Name</label>
					<div class="control">
						<input class="input" type="text" name="name" placeholder="" value="{{project.name}}">
					</div>
				</div>

				<div class="field">
					<label class="label">Description</label>
					<div class="control">
						<textarea class="textarea" name="description" rows="4">{{project.description}}</textarea>
					</div>
				</div>

				<div class="field">
					<label class="label">Visibility</label>
					{% for key, value in visibilityOptions %}
					<div class="control">
						<label class="radio">
						<input
							type="radio"
							name="visibility"
							value="{{ key }}"
							{% if project.visibility == key %}checked="checked"{% endif %}
						>
							{{ value }}
						</label>
					</div>
					{% endfor %}
				</div>

				<button class="button is-success is-rounded mt-5">Save</button>

				{% include 'partials/form_security.njk' %}

			</form>

		</div>
	</div>


</div>

{% endblock %}