{% extends 'layouts/default.njk' %}

{% block content %}

<div class="container {{ ui.containerClass }}">

	<div class="level">
		<div class="level-left">
			<div class="level-item">
				<h1 class="title my-0">{{ title }}</h1>
			</div>
		</div>
		<div class="level-left">
			<div class="level-item">
				<a href="/projects/new" class="button is-success is-rounded is-outlined is-pulled-right">Create new project</a>
			</div>
		</div>
	</div>

	<hr>

	{% include 'projects/_index_tabs.njk' %}

	{%  include 'projects/_index_table.njk' %}

</div>

{% endblock %}