{% extends 'layouts/default.njk' %}

{% block content %}

<div class="container {{ ui.containerClass }}">

	<a href="/projects/new" class="button is-success is-rounded is-outlined is-pulled-right">Create new project</a>
	<h1 class="title mb-6">{{ title }}</h1>

	{% include 'projects/_index_tabs.njk' %}

	{%  include 'projects/_index_table.njk' %}

</div>

{% endblock %}