{% extends 'layouts/default.njk' %}

{# Main page for a participant viewing a project session. #}
{# SSE events will trigger htmx GETs to /live/{activity|comments} to refresh the UI. #}

{% block content %}

<script type="text/hyperscript">
init
	set project_hash to '{{ project.project_id | hashid('project') }}'
	send app:join_project(project_hash:project_hash) to body
end
</script>

<div
	class="container {{ ui.containerClass }}"
	id="main_view"
>

	<h1 class="title">{{ title }}</h1>

	<hr>

	<div class="columns">

		<div class="column is-two-thirds">

			<div
				hx-trigger="load, new_activity from:body"
				hx-get="/projects/{{ project.project_id | hashid('project') }}/live/activity"
				hx-swap="innerHTML"
			></div>

		</div>


		<div class="column is-one-third">

			<h2 class="title is-5 block">Comments</h2>

			{% if authUser %}

				{% include 'projects/_comment_form.njk' %}

			{% else %}

				<p class="box has-text-centered">
					<a href="/auth/login">Log in</a> or <a href="/auth/register">create an account</a> to participate.
				</p>

				<hr>

			{% endif %}

			<div
				hx-trigger="load, new_activity from:body, new_comments from:body"
				hx-get="/projects/{{ project.project_id | hashid('project') }}/live/comments"
				hx-swap="innerHTML"
			></div>

		</div>

	</div>

</div>

{% endblock %}