{% extends 'layouts/default.njk' %}

{% block content %}

<div class="container {{ ui.containerClass }}">

	<h1 class="title">
		{{ appName }}
	</h1>
	<p class="subtitle">
		Part of the Living Lab Platform.
	</p>

	<hr>

	<div class="columns">

		<div class="column">

			<form
				class="box"
				_="on submit
					halt the event
					set project_id to #join_project_id.value
					if project_id.length is 0 then alert('Please enter an ID.') then exit end
					then go to url `/projects/$project_id`">
				<h2 class="title is-4">Join a session</h2>
				<div class="field">
					<label class="label">Project ID</label>
					<div class="control">
						<input class="input" name="project_id" type="text" id="join_project_id" placeholder="e.g. a9M7b4" maxlength="6" autofocus="true">
					</div>
				</div>
				<button class="button is-primary" type="submit">Join</button>
			</form>

		</div>

		<div class="column">
			<div class="buttons">
				<a href="/projects" class="button is-medium">View projects</a>
				{% if authUser %}
				<a href="/projects/new" class="button is-medium is-success is-outlined">Create new project</a>
				{% endif %}
			</div>
		</div>

	</div>

	<div class="content">
		<!-- <pre>{{ auth }}</pre> -->
	</div>

</div>

{% endblock %}