
{% macro comment(author, body, date='') %}
<article class="media">
	<figure class="media-left">
		<p class="image is-32x32">
			<img src="https://via.placeholder.com/32">
		</p>
	</figure>
	<div class="media-content">
		<div class="content">
			<p class="mb-0"><strong>{{ date|date("DD/MM/YYYY @ HH:mm") }}</strong></p>
			<p class="mb-0 has-text-grey">
				{{ author }}
			</p>
			{% if author == 'John Smith' %}
			<span class="tag is-info">Presenter</span>
			{% endif %}
			{# <div class="level mb-2">
				<div class="level-left">
					<div class="level-item mr-5">
						<strong>{{ date|date("DD/MM/YYYY @ HH:mm") }}</strong>
					</div>
					<div class="level-item has-text-grey">
						{{ author }}
					</div>
					{% if author == 'John Smith' %}
					<div class="level-item">
						<span class="tag is-info">Presenter</span>
					</div>
					{% endif %}
				</div>
			</div> #}
			<p class="is-size-6 mt-2">{{ body }}</p>
		</div>
	</div>
</article>
{% endmacro %}
