
{% if activity %}
<article class="message is-info">
	<div class="message-header">
		<p>Current Activity:{{ activity.title }}</p>
	</div>
	{%  if activity.description %}
	<div class="message-body">
		{{ activity.description }}
	</div>
	{% endif %}
</article>

<figure class="image is-fullwidth">
	<img src="/uploads/{{ activity.image_filename }}" alt="">
</figure>

{% endif %}