<script type="text/hyperscript">
behavior Zoomable
	on mousemove
		set zoomer to event.currentTarget
		if event.offsetX set offsetX to event.offsetX else set offsetX to event.touches[0].pageX end
		if event.offsetY set offsetY to event.offsetY else set offsetY to event.touches[0].pageX end
		set x to (offsetX/zoomer.offsetWidth) * 100
		set y to (offsetY/zoomer.offsetHeight) * 100
		set zoomer.style.backgroundPositionX to x + '%'
		set zoomer.style.backgroundPositionY to y + '%'
	end
end
</script>

<style>
figure.zoomable {
	background-position: 50% 50%;
	position: relative;
	width: 100%;
	overflow: hidden;
	cursor: zoom-in;
}
figure.zoomable img {
	transition: opacity .300s;
	display: block;
	width: 100%;
}

figure.zoomable img:hover {
	opacity: 0;
}
</style>

{% if activity %}

	<article class="message is-info">
		<div class="message-header">
			<p>{{ activity.title }}</p>
		</div>
		{%  if activity.description %}
		<div class="message-body">
			{{ activity.description }}
		</div>
		{% endif %}
	</article>

	<figure class="image is-fullwidth zoomable" _="install Zoomable" style="background-image: url(/uploads/{{ activity.image_filename }}); background-repeat: no-repeat;">
		<img src="/uploads/{{ activity.image_filename }}" alt="">
	</figure>

{% endif %}