{% extends 'layouts/default.njk' %}

{% block content %}

<div class="container {{ ui.containerClass }}">

	<h1 class="title mb-6">{{ title }}</h1>

	<form action="/projects/{{project_hash_id}}/add_activity" method="post" enctype="multipart/form-data">

		<div class="columns">

			<div class="column is-half">

				<div class="field">
					<label class="label">Title</label>
					<div class="control">
						<input class="input" type="text" name="title" placeholder="" value="{{ payload.title }}" required>
					</div>
				</div>

				<div class="field">
					<label class="label">Description</label>
					<div class="control">
						<textarea class="textarea" name="description" rows="4">{{ payload.description }}</textarea>
					</div>
				</div>

			</div>

			<div class="column is-half">

				<div class="field">
					<label class="label">Type</label>
					<div class="control block">
						<div class="tabs is-toggle" _="on click take .is-active from <li/> for the closest <li/> to event.target">
							<ul>
								<li class="">
									<a _="on click set the value of #type to 'image_screenshot'
										then hide #file_input_control
										call screenshot.takeScreenshot()
										-- put the result.encodedData into #screenshot_data
										put the result.previewCanvas into #screenshot_preview
										call screenshot.populateFileInput(result.blob, 'activity_image')
										"
									><span>Take screenshot</span></a>
								</li>
								<li class="">
									<a _="on click set the value of #type to 'image_upload'
											then show #file_input_control
											then put '' into #screenshot_preview"><span>Upload an image</span></a>
								</li>
							</ul>
						</div>
					</div>
					<input type='hidden' name="type" id="type">
				</div>

				<div class="field">
					<div class="control" id="file_input_control" _="init hide me">
						<div class="file has-name is-fullwidth">
							<label class="file-label">
								<input
									type="file"
									name="activity_image"
									id="activity_image"
									class="file-input"
									accept=".jpg,.jpeg,.png,image/jpeg,image/jpg,image/png"
									capture=""
									_="on change if my.files.length > 0 put my.files[0].name into #filename else put '' into #filename end"
								>
								<span class="file-cta">
									<span class="file-label">
										Choose an image...
									</span>
								</span>
								<span class="file-name" id="filename">
									None selected
								</span>
							</label>
						</div>
					</div>
					<div class="control">
						<div class="content" id="screenshot_preview"></div>
					</div>
				</div>

			</div>

		</div>

		<hr>

		<button class="button is-success is-rounded mt-5">Add activity to project</button>

		{% include 'partials/form_security.njk' %}

	</form>

</div>

{% endblock %}