{% extends 'layouts/default.njk' %}

{% import 'projects/macros/comment.njk' as commentMacro %}

{% block content %}

<script type="text/hyperscript">
init
	set project_hash to '{{ project.project_id | hashid('project') }}'
	send app:join_project(project_hash:project_hash) to body
end
</script>

<div class="container {{ ui.containerClass }}" id="main_view">

	<div class="level mb-1">
		<div class="level-left">
			<div class="level-item">
				<h1 class="title my-0">{{ title }}</h1>
			</div>
			{% if isEditable %}
			<div class="level-item">
				<button
					class='button is-small is-info is-light is-family-code'
					_="on click call navigator.clipboard.writeText('{{  project.project_id | hashid('project') }}')
						then put 'Copied!' into the last <span/> in me
						wait 1.5s then put '{{  project.project_id | hashid('project') }}' into the last <span/> in me"
				>
					<span class="icon is-small"><i class="far fa-copy"></i></span>
					<span>{{  project.project_id | hashid('project') }}</span>
				</button>
			</div>
			{% endif %}
		</div>
		<div class="level-right">
			<div class="level-item">
				<button class="button is-static">
					<span class="icon is-small"><i class="fas fa-users"></i></span>
					<span _="on participant_count from body set my innerText to event.detail.count">0</span>
				</button>
			</div>
			<div class="level-item">
				{% if isEditable %}
				{% include 'projects/_edit_menu.njk' %}
				{% endif %}
			</div>
		</div>
	</div>

	{% if project.description %}
	<p>{{ project.description }}</p>
	{% endif %}

	<hr>

	<div class="columns">

		<div class="column is-one-quarter">
			{%  include 'projects/_activity_panel.njk' %}
		</div>

		<div class="column is-half">

			<div class="level">
				<div class="level-left">
					<div class="level-item">
						<button
							class="button is-success"
							hx-post="/projects/{{ project.project_id | hashid('project') }}/broadcast_activity/{{ activity.activity_id | hashid('activity') }}"
							_="on htmx:afterRequest remove .is-invisible from .is-invisible in me"
						>Broadcast <span class="check ml-2 is-invisible">&#10004;</span></button>
					</div>
					<div class="level-item">
						<button
							class="button"
							hx-get="/projects/{{ project.project_id | hashid('project') }}/edit_activity/{{ activity.activity_id | hashid('activity') }}"
							hx-target="#modal"
						>Edit</button>
					</div>
					<div class="level-item">
						<button
							class="delete"
							hx-confirm="Are you sure you want to delete this activity?"
							hx-post="/projects/{{ project.project_id | hashid('project') }}/delete_activity/{{ activity.activity_id | hashid('activity') }}"
						></button>
					</div>
				</div>
				<div class="level-right">
					<div class="level-item">
						<p class="has-text-grey">Activity {{ activity.position+1 }} of {{ activities.length }}</p>
					</div>
				</div>
			</div>

			<article class="message">
				<div class="message-header">
					<p>{{ activity.title }}</p>
				</div>
				{%  if activity.description %}
				<div class="message-body">
					{{ activity.description }}
				</div>
				{% endif %}
			</article>

			{% if activity.image_filename.length %}
				<figure class="image is-fullwidth">
					<img src="/uploads/{{ activity.image_filename }}" alt="">
				</figure>
			{% else %}
				<div class="content"><em>No media for this activity.</em></div>
			{% endif %}

			<hr>

		</div>

		<div class="column is-one-quarter">

			<h2 class="title is-5 block">Comments</h2>

			{% if authUser %}

				{% include 'projects/_comment_form.njk' %}

			{% else %}

				<p class="box has-text-centered">
					<a href="/auth/login">Log in</a> or <a href="/auth/register">create an account</a> to participate.
				</p>

				<hr>

			{% endif %}

			<div
				hx-trigger="load, new_comments from:body"
				hx-get="/projects/{{ project.project_id | hashid('project') }}/live/comments?activity={{ activity.activity_id | hashid('activity') }}"
				hx-swap="innerHTML"
			></div>

		</div>

	</div>

</div>

{% endblock %}