{% extends 'layouts/default.njk' %}

{% block content %}

<div class="container {{ ui.containerClass }}">

	<div class="columns is-centered">
		<div class="column is-one-third">

			<h1 class="title mb-6">{{ title }}</h1>

			<form action="/auth/register" method="post">

				<div class="content">
					<p>You need to create an account using your email address to participate in projects or to create your own.</p>
					<p>After clicking Create Account below, we will send a confirmation code to your email address.</p>
					<p>Your name will be displayed to others when participating in projects.</p>
				</div>

				<div class="field">
					<label class="label">Name</label>
					<div class="control">
						<input class="input" type="text" placeholder="" name="name" value="{{payload.name}}" maxlength="50">
					</div>
				</div>

				<div class="field">
					<label class="label">Email address</label>
					<div class="control">
						<input class="input" type="email" placeholder="" name="email" value="{{payload.email}}">
					</div>
				</div>

				<button class="button is-primary is-fullwidth">Create account</button>

				{% include 'partials/form_security.njk' %}

			</form>

		</div>
	</div>


</div>

{% endblock %}