<footer class="footer mt-6">
	<div class="container {{ui.containerClass}} mt-5">
		<div class="columns">
			<div class="column is-half">
				<div class="content">
					<p>
						<strong>{{ appName }}</strong> version {{ version }}. Part of the Living Lab Platform. &copy; {{ year }}.
					</p>
				</div>
			</div>
			<div class="column is-half has-text-right-desktop">
			</div>
		</div>
	</div>
</footer>